<div class="rooms-page">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container">
              <a class="navbar-brand" href="#">Чат-комнаты</a>
              <button class="btn btn-light ms-auto" id="logoutBtn">Выйти</button>
          </div>
      </nav>
  
      <div class="container my-4">
          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-header">
                          <h5>Создать комнату</h5>
                      </div>
                      <div class="card-body">
                          <form id="createRoomForm">
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Название комнаты" required>
                              </div>
                              <button type="submit" class="btn btn-primary w-100">Создать</button>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">
                          <h5>Доступные комнаты</h5>
                      </div>
                      <div class="card-body">
                          <div class="list-group" id="roomsList">
                              <!-- Комнаты будут здесь -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <script src="/static/js/rooms.js"></script>